[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl
[submodule "CTPL"]
	path = CTPL
	url = https://github.com/vit-vit/CTPL
